$avatarSize: 60px;
.endorser-img-holder{
  border-radius:$avatarSize;
  height:$avatarSize;
  width:$avatarSize;
  overflow:hidden;

  .background-image-holder{
    height:$avatarSize;
    width:$avatarSize;
    background-size:cover;
    background-position:center center;
  }
}
