@import "variables";
label{
  width:100px;
  display:inline-block;
}
input[type="text"]{
  width: 100%;
  text-align: right;
  border-style: none none solid;
  border-width: 1px;
  border-color: $barney;
  margin-bottom: 1em;
  &:focus{
    outline:none;
  }
}
