@font-face {
  font-family: 'sarial';
  src: url('../fonts/sarial.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300);

body{
  color:black;
  font-family:'Source Code Pro';
}

.title-font{
  font-family:"sarial";
}

.tweet-list{
  list-style:none;
  padding: 0 10%;
  max-width:500px;
  margin:20px auto;
}
.tweet-list-item{
  padding: 10px 0;
}

a{
  color:black;
  text-decoration:none;
}

.flex-parent-row{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
}
.flex-child-expand{
  flex:1 1 auto;
}
.flex-child-end{
  align-self:flex-end;
}
