.modal-wrapper{
  padding:5% 20%;
}

.modal-content-container{
  transition: transform .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translateY(400px);
  &.open{
    transform: translateY(0);
  }
}

@media(max-width:414px){
  .modal-wrapper{
    padding:5% 20% 5% 10%;
  }
  .modal-content-container{
    transform: translateY(100px);
  }
}
